.advertisment{
    width:  100%;
    height: 75vh;
    position: relative;
    display: flex;
    overflow: hidden;
    overflow: hidden;

}    

.ads-1{

    width: 500%;
    height: 100%; 
    position: absolute;
    display: flex;
    animation-name: ads;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}

.ad-1{
    width: 20%;
    height: 90%;
    margin: 5px;
    border-radius: 10px;


}

@keyframes ads{
18%{
    margin-left: 0%;
}    
20%{
    margin-left: -100%;
}
35%{
    margin-left: -100%;
}
40%{
    margin-left: -200%;
}
55%{
    margin-left: -200%;
}
60%{
    margin-left: -300%;
}
75%{
    margin-left: -300%;
}
80%{
    margin-left: -400%;
}
96%{
    margin-left: -400%;
}
99.99%{
    margin-left: -400%;
}
100%{
    margin-left: 0%;
}

} 